#cars { pointer-events: none; }
.car {
    box-sizing: border-box;
    position: absolute;
    background-color: #ff8080;
    width: 32px;
    height: 16px;
    top: -100px;
    border-radius: 3px 8px 8px 3px;
    border: solid 1px black;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    line-height: 1.4em;
    font-family: sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.car.brake {
    border-left: solid 4px red;
}
.car.accel {
    border-right: solid 4px #0f0;
}
.car.dead {
    background-color: #888 !important;
}
.car.hotrod {
    text-shadow: 0 0 2px red, 0 0 2px red;
}

.emitter {
	border: solid 5px #bbb;
	background-color: #ccc;
	border-radius: 50px 50px 50px 0;
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: 4;
}

INPUT[type=range] { width: 100px; position: relative; top: 7px; }

#debug { font-size: 80%; font-family: sans-serif; }
#debug > DIV { display: inline-block; text-align: center; }
#debug > DIV > SPAN { border-radius: 0 20px 20px 20px; width: 20px; height: 20px; display: block; background-color: #999; margin-left: 11px; }
#debug > DIV > SPAN > SPAN { display: block; font-family: sans-serif; font-size: 80%; }

.carDebug {
	position: absolute;
	border: solid 1px #888;
	background-color: rgba(128, 128, 128, 0.3);
	width: 100px;
	height: 100px;
	font-family: sans-serif;
	font-size: 10px;
	color: #444;
	border-radius: 3px;
	pointer-events: none;
	padding: 3px;
}

svg {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}

svg > line {
	stroke: rgba(255, 0, 0, 0.2);
	stroke-width: 1px;
}

svg > path.steer {
	stroke: rgb(0, 0, 255);
	stroke-width: 1px;
	fill: none;
}

svg > circle.turnCircle { stroke: rgba(0, 0, 0, 0.1); fill: none; stroke-width: 2; }

#road, #road > * {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#emitters { pointer-events: none; }
#road path { fill: transparent; stroke-linecap: round; stroke-linejoin: round; stroke-width: 3; }
#roadBackground.buffer { opacity: 0.1; pointer-events: none; }
#roadBackground.buffer > path { stroke: black; stroke-width: 40; }
#roadNodes > circle { fill: transparent; stroke: black; stroke-width: 2px; }
#roadNodes > circle.firstnode { fill: black; stroke: none; }
#roadNodes > circle.selected { fill: white; stroke: white; stroke-width: 40px; }
#roadNodes > circle.virtual { fill: rgba(0,0,0,0.5); stroke: none; filter: drop-shadow(0 0 2px white) drop-shadow(0 0 2px white); }
#roadNodes > circle.firstnode.virtual { fill: black; stroke: none; }
#roadBeziers { pointer-events: none; opacity: 0.5; }
#roadBeziers circle { fill: #444; }
#roadBeziers line { fill: transparent; stroke-width: 1px; stroke: #888; }
.draggable { cursor: move; }
