.car {
    box-sizing: border-box;
    position: absolute;
    background-color: #ff8080;
    width: 32px;
    height: 16px;
    top: 100px;
    border-radius: 3px 8px 8px 3px;
    border: solid 1px black;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    line-height: 1.4em;
    font-family: sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.brake {
    border-left: solid 4px red;
}
.accel {
    border-right: solid 4px #0f0;
}
.dead {
    background-color: #888 !important;
}
.hotrod {
    text-shadow: 0 0 2px red, 0 0 2px red;
}