HTML, BODY { 
	margin: 0; 
	height: 100%; 
	overflow: hidden; 
	/*user-zoom: fixed;*/
}
BODY {
    background-color: #dfdfdf;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    background-image: url('../images/grid.png');
    image-rendering: pixelated;
}
NOSCRIPT > DIV {
    max-width: 50%;
    padding: 50px;
}
NOSCRIPT H3 { color: red; font-size: 2em; }
NOSCRIPT H4 { color: #777; font-size: 1.4em; }
/*BUTTON { font-family: 'Play', sans-serif; }*/
.message {
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 10px;
    border: solid 1px black;
    /* background-color: #eee; */
    padding: 20px;
    z-index: 10;
    backdrop-filter: blur(4px) brightness(102%);
    max-width: 33%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
DIV.nostyle { display: none; }
.message > *:first-child { margin-top: 0; }
.message > *:last-child { margin-bottom: 0; }
.message:hover { backdrop-filter: blur(20px) brightness(105%); }
.message .close { position: absolute; top: 10px; right: 10px; font-weight: bold; }
@media (max-width: 800px) {
    HTML, BODY { font-size: 18px; }
    .message { max-width: 100%; margin-left: 20px; }
}
@media (max-height: 400px) {
    HTML, BODY { font-size: 12px; }
}